<ion-header no-border>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="main_div ion-margin-horizontal">

    <p class="question">Nhãn hiệu</p>
    <ion-item>
      <ion-input placeholder="Honda" [(ngModel)]="carData.brand">
      </ion-input>
      <small color="danger" *ngIf="error.brand">{{error.brand['0']}}</small>

    </ion-item>
    <p class="question">Năm sản xuất</p>
    <ion-item>
      <ion-input placeholder="2015" [(ngModel)]="carData.model">

      </ion-input>
      <small color="danger" *ngIf="error.model">{{error.model['0']}}</small>
    </ion-item>
    <p class="question second">Biển số xe</p>
    <ion-item>
      <ion-input placeholder="30E112345" [(ngModel)]="carData.vehicle_no">
      </ion-input>
      <small color="danger" *ngIf="error.vehicle_no">{{error.vehicle_no['0']}}</small>
    </ion-item>

  </div>
</ion-content>
<ion-footer>
  <ion-button class="otp_btn" (click)="saveData()">
    Thêm
  </ion-button>
</ion-footer>
