<ion-header no-border>
  <ion-toolbar>
    <ion-buttons>

      <!-- <ion-icon name="ios-arrow-back"> -->
      <ion-back-button text=""></ion-back-button>
      <!-- </ion-icon> -->

    </ion-buttons>
    <ion-title>
      <img style="width: 100px;margin-top: 10px" src="assets/image/name_logo.png">
<!--      <span>O</span>nePark-->
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="car_detail ion-margin-horizontal">
    <div class="img_div">
      <ng-container *ngIf="spaceData?.images?.length > 0">

        <img [src]="spaceData?.images[0]?.imageUri" style="height: 176px;">
      </ng-container>

      <!-- <img src="assets/image/noimage.png"> -->
      <img src="assets/image/noimage.jpg" *ngIf="spaceData?.images?.length <= 0">
      <p class="text" style="    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 8px;">{{spaceData.title}}
        <span class="ion-float-right">
          <ion-icon name="star" [class]="spaceData.avg_rating >= 1 ? 'icon_color hydrated ' : 'star hydrated '">
          </ion-icon>
          <ion-icon name="star" [class]="spaceData.avg_rating >= 2 ? 'icon_color hydrated ' : 'star hydrated '">
          </ion-icon>
          <ion-icon name="star" [class]="spaceData.avg_rating >= 3 ? 'icon_color hydrated ' : 'star hydrated '">
          </ion-icon>
          <ion-icon name="star" [class]="spaceData.avg_rating >= 4 ? 'icon_color hydrated ' : 'star hydrated '">
          </ion-icon>
          <ion-icon name="star" [class]="spaceData.avg_rating >= 5 ? 'icon_color hydrated ' : 'star hydrated '">
          </ion-icon>
        </span></p>
    </div>

    <ion-item>
      <p class="arriving">Thời gian vào <span class="ion-float-right">
          {{startTime | date:'dd-MM HH:mm'}}</span></p>
    </ion-item>
    <ion-item>
      <p class="arriving">Thời gian ra <span class="ion-float-right">
          {{endTime | date:'dd-MM HH:mm' }}</span></p>
    </ion-item>
    <ion-item>
      <p class="arriving">Tổng thời gian <span class="ion-float-right">
          {{hours}} giờ</span></p>
    </ion-item>
    <ion-item>
      <ion-label class="arriving" style="width: fit-content;">
        <ng-container *ngIf="defaultVehicle.model">
          {{"Phương tiện"}}
        </ng-container>
        <ng-container *ngIf="!defaultVehicle.model">
          Phương tiện
        </ng-container>
      </ion-label>
      <ion-select [(ngModel)]="selectedVehicle" okText="Ok" cancelText="Huy"
        (ionChange)="getDefaultVehicleById()">
        <ion-select-option [value]="item.id" *ngFor="let item of vehicle">{{item.vehicle_no + " " + item.brand }}</ion-select-option>
      </ion-select>
    </ion-item>

<!--    <ion-grid>-->
<!--      <ion-row>-->
<!--        <ion-col size="6" (click)="paymentMode = 'shop'" *ngIf="spaceData.offline_payment == 0">-->
<!--          <ion-card style="margin: 0px;-->
<!--    text-align: center;-->
<!--    /* margin: 0 auto; */-->
<!--    margin-top: 8px;-->
<!--    font-size: 18px;-->
<!--    color: #3496ff;-->
<!--    font-weight: bolder;-->
<!--    padding: 20px;" [ngClass]="{'shop': paymentMode === 'shop'}">-->
<!--            Đặt chỗ-->
<!--          </ion-card>-->

<!--        </ion-col>-->
<!--      </ion-row>-->
<!--    </ion-grid>-->
  </div>
</ion-content>
<ion-footer>
  <ion-button class="otp_btn" (click)="bookParking()">
    Đặt chỗ
<!--    {{hours * spaceData.price_par_hour}} đ-->
  </ion-button>
</ion-footer>
